<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="AppDbContext" connectionString="data source=IT-PC;initial catalog=BIJOU;user id=sa;password=Soft123well!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="AppDbContext" connectionString="data source=DESKTOP-Q3118AL\NOMENA;initial catalog=BIJOU;user id=sa;password=Nomena;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
   <add name="ScdDbContext" connectionString="data source=DESKTOP-Q3118AL\NOMENA;initial catalog=ScdDb;user id=sa;password=Nomena; TrustServerCertificate=True" providerName="System.Data.SqlClient"/></connectionStrings>
   <!--<add name="ScdDbContext" connectionString="data source=IT-PC;initial catalog=ScdDb;user id=sa;password=Soft123well!; TrustServerCertificate=True" providerName="System.Data.SqlClient"/></connectionStrings>-->
</configuration>

