<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AppDbContext" connectionString="data source=LAPTOP-ADJVF762\PCSQL; initial catalog=BIJOU; user id=sa; password=Soft123well!; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ScdDbContext" connectionString="data source=LAPTOP-ADJVF762\PCSQL; initial catalog=ScdDb; user id=sa; password=Soft123well!; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ScdDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C1PICS6;initial catalog=ScdDb;persist security info=True;user id=sa;password=12345678;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="testCollabs" connectionString="data source=DESKTOP-C1PICS6;initial catalog=ScdDb;persist security info=True;user id=sa;password=12345678;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CurrentRGPiece" connectionString="data source=DESKTOP-C1PICS6;initial catalog=ScdDb;persist security info=True;user id=sa;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>